blablablablabla
<div *ngIf="todo" [formGroup]="todoForms">
  <div><span>id:</span>{{todo.id}}</div>
    <label for="content">content:
      <input
      formControlName="content"
      placeholder="content"
      id="content"
      required
      >
      {{todoForms.value.content}}
    </label>
    <br>
    <label for="priority">priority:
      <input
        formControlName="priority"
        placeholder="priority"
        id="priority"
        required
        >
      {{todoForms.value.priority}}
    </label>
    <button (click)="save()" disabled>save</button>
    <button type="reset">rest</button>
   {{todoForms.status}}
  </div>
  <h2>Template-dirven validation</h2>
  <input name="name"
        [(ngModel)]="templateDrivenName"
        #name="ngModel"
        appForbiddenName="bob"
        required>
  name valid:{{name.valid}}
