
<div *ngIf="todo$ | async as todo">
  <div><span>id:</span>{{todo.id}}</div>
    <label for="content">content:
      <input
      [formControl]="content"
      placeholder="content"
      id="content"
      required
      >
      {{content.value}}
    </label>
    <br>
    <label for="priority">priority:
      <input
        [(ngModel)]="todo.priority"
        placeholder="priority"
        id="priority"
        #priority
        required
        [ngModelOptions]="{standalone: true}">
      {{priority.value}}
    </label>
    <button (click)="save({id: todo.id,content: todo.content, priority: todo.priority})">save</button>
    <button (click)="x">rest</button>
</div>
