<!--The content below is only a placeholder and can be replaced.-->
<div>
  <nav>
    <!-- <a routerLink="/heroes" routerLinkActive="active">Heroes</a>
    <a routerLink="/dashboard">Dashboard</a>
    <a routerLink="/countDown" routerLinkActive="active">CountDown</a>
    <a routerLink="/crisis-center" routerLinkActive="active">crisis-center</a>
    <a (click)="popup()">popup</a> -->
    <a routerLink="/jokes">Jokes Demo</a>
    <a routerLink="/todos">Todos Demo</a>
  </nav>
  <router-outlet></router-outlet>
  <router-outlet name="popup"></router-outlet>
  <!-- output learing -->
  <div class="message-container">
    <app-message [message]="{message: 'hello'}" (hello)="sayHello()"></app-message>
  </div>
</div>
